
.resim{
margin-left:20px;
margin-right:50px;
float:left;
width:50px;
height:50px;
background-color:red;
}
.yorum{
padding-top:10px;
padding-bottom:10px;
float:left;
width:100%;
background-color:#708090;
margin-bottom:2px;
}
.yazi{
font-size:10px;
color:white;
margin-left:80px;
margin-top:10px;
}
.buton{
margin-left:4px;
font-size:10px;
}
.bilgi{
margin-top:20px;
width:20%;
height:20px;
font-size:8px;
padding-left:8px;
color:white;
}
.sikayet{
font-size:9px;
float:right;
}
