Options All -Indexes
RewriteEngine On
RewriteBase /
RewriteRule anasayfa.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule yeni-kayit.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule giris.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule profil.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule yeni-konu-olustur.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule yeni-konu-olustur/[0-9]/guncelle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule kategori-duzenle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule sikayetler.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule mesajlar-duzenle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule [0-9]/metinlerim.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule sikayet-islemleri.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule [0-9]/mesaj-detay/[a-z*].html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule yeni-mesaj-olustur.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule [0-9]/[0-9]/[a-z]*.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule begeni-ret.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule mesaj-sil.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule metin-sil.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule kategori-sil.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule kategori-guncelle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule kategori-ekle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule sikayet-olustur.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule kullanici-engelle.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule engelliler.html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]
RewriteRule konu-icerik/[0-9]/[0-9]/[a-z0-9-].html$ controller/Sayfa_Yonlendirme.php [NC,QSA,L]

RewriteRule ^(.*).html$ controller/Sayfa_Yonlendirme.php [QSA,L]